<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a >
                        Creado por bantrab
                    </a>
                </li>
                <li>
                    <a href="https://bancaenlinea.bantrab.com.gt/">
                        Ayuda
                    </a>
                </li>
                <li>
                    <a href="https://bancaenlinea.bantrab.com.gt/">
                        Banca en linea
                    </a>
                </li>
                <li>
                    <a href="https://www.bantrab.com.gt/tips/seguridad-en-sus-transacciones-en-linea/">
                        Licencia
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="https://www.bantrab.com.gt/tips/seguridad-en-sus-transacciones-en-linea/" target="_blank">Creado por </a> bantrab.
        </div>
    </div>
</footer>
